@charset "UTF-8";
#menu-lateral {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
  padding: 48px 32px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}
#menu-lateral.menu-visible {
  transform: translateX(0);
}
#menu-lateral .btn-cerrar {
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
#menu-lateral .btn-cerrar:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(90deg);
}
#menu-lateral nav {
  margin-top: 80px;
}
#menu-lateral nav ul {
  list-style: none;
  padding: 0;
}
#menu-lateral nav ul li:not(.buscador) {
  margin: 32px 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
#menu-lateral nav ul li:not(.buscador):hover {
  transform: translateX(10px);
}
#menu-lateral nav ul li:not(.buscador) a,
#menu-lateral nav ul li:not(.buscador) span {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: "Suez One", serif;
  padding: 8px 0;
  cursor: pointer;
}
#menu-lateral nav ul li:not(.buscador) span::after {
  content: " ⏷";
}
#menu-lateral nav ul li:not(.buscador) ul {
  padding-left: 20px;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
#menu-lateral nav ul li:not(.buscador) ul li {
  margin: 16px 0;
  transition: all 0.3s ease-in-out;
}
#menu-lateral nav ul li:not(.buscador) ul li a {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 0;
}
#menu-lateral nav ul li:not(.buscador) ul li a:hover {
  padding-left: 5px;
}
#menu-lateral nav ul li:not(.buscador) ul li:hover {
  transform: translateX(5px);
}
#menu-lateral nav ul li:not(.buscador).dropdown-abierto span::after {
  content: " ⏶";
}
#menu-lateral nav ul li:not(.buscador).dropdown-abierto ul {
  max-height: 500px;
}
#menu-lateral nav ul .buscador {
  position: relative;
}
#menu-lateral nav ul .buscador label {
  display: none;
}
#menu-lateral nav ul .buscador input {
  width: 84%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: "Suez One", serif;
}
#menu-lateral nav ul .buscador input:focus {
  outline: none;
}
#menu-lateral nav ul .buscador .btn-buscar {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  padding: 0;
  height: 45px;
  width: 50px;
  border-radius: 0 5px 5px 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
#menu-lateral nav ul .buscador .btn-buscar svg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}
#menu-lateral nav ul .buscador .btn-buscar {
  transition: all 0.3s ease-in-out;
}
#menu-lateral nav ul .buscador .btn-buscar:hover svg {
  transform: scale(1.2);
}
#menu-lateral nav ul .buscador .btn-buscar:hover {
  background-color: rgb(12.75, 12.75, 12.75);
}

#overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  z-index: 1000;
}
#overlay.overlay-visible {
  opacity: 1;
  pointer-events: all;
}/*# sourceMappingURL=aside.css.map */